[project]
	description = Multi-OS Engine: Create iOS Apps in Java (or Kotlin ... etc.)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gergely Kis (kisg)
[access "refs/for/refs/*"]
	read = group user/Gergely Kis (kisg)
	push = group user/Gergely Kis (kisg)
	label-Code-Review = -2..+2 group user/Gergely Kis (kisg)
	label-Verified = -1..+1 group user/Gergely Kis (kisg)
	rebase = group user/Gergely Kis (kisg)
	removeReviewer = group user/Gergely Kis (kisg)
	submit = group user/Gergely Kis (kisg)
[access "refs/heads/*"]
	read = group user/Gergely Kis (kisg)
	create = group user/Gergely Kis (kisg)
	push = +force group user/Gergely Kis (kisg)
	pushMerge = group user/Gergely Kis (kisg)
[access "refs/tags/*"]
	push = group user/Gergely Kis (kisg)
	push = +force group user/Gergely Kis (kisg)
